@model App.Models.Product.ProductModel

@{
    ViewData["Title"] = @Model.Title;
}


<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @string.Format(new CultureInfo("vi-VN"), "{0:#,##0}", Model.Price) VNĐ
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Quantity == null || Model.Quantity == 0)
            {
                <span>Hết hàng</span>
            }
            else 
            {
                @Html.DisplayFor(model => model.Quantity)
            }
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuaranteePeriod)
        </dt>
        <dd class="col-sm-10">
            @Model.GuaranteePeriod năm
        </dd>

        <dt class = "col-sm-2">
            Url
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Model.DateCreated?.ToString("dd/MM/yyyy h:mm:ss tt")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Model.DateUpdated?.ToString("dd/MM/yyyy h:mm:ss tt")
        <dt class = "col-sm-2">
            Thông số kỹ thuật
        </dt>
        <dd class = "col-sm-10">
            <dl class="row">
                @if (Model.ProductAttributeValues?.Count > 0)
                {
                    <table border="1" style="margin-left: 15px;">
                        @foreach (var productAttributeValue in Model.ProductAttributeValues)
                        {
                            <tr style="padding: 10px;">
                                <td style="background-color: rgb(249, 245, 245);">@productAttributeValue.ProductAttribute.AttributeName : @productAttributeValue.AttributeValue</td>
                            </tr>
                        }
                    </table>
                }
            </dl>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(@Model.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

